[Unit]
Description=Flatpak system pre-installation
Documentation=https://docs.flatpak.org/en/latest/flatpak-command-reference.html#flatpak-preinstall
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak preinstall -y
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
