[Unit]
Description=Flatpak system pre-installation
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak preinstall -y --noninteractive
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
