[Unit]
Description=Flatpak system update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=DBUS_SESSION_BUS_ADDRESS=disabled:
ExecStart=/usr/bin/flatpak update -y --noninteractive
