[Unit]
Description=Flatpak system update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update -y --noninteractive
