[Unit]
Description=Flatpak system pre-installation
Documentation=https://docs.flatpak.org/en/latest/flatpak-command-reference.html#flatpak-preinstall
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak preinstall -y --noninteractive
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
